
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2ebe3;
    color: #5e4630;
}


.navbar {
    background-color: #8b5e3c;
    padding: 15px;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar-menu li {
    margin: 0 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-menu a:hover {
    color: #e0b894;
}


.top-bar {
    background-color: #d6e26b;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

.contact-info {
    position: absolute;
    right: 10px;
    top: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #8b4513;
}

.navbar .logo h1 {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #c49754;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-icon, .search-icon {
    font-size: 20px;
    color: white;
}

.nav-links li {
    position: relative;
}

.product {
    width: 200px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  
}


.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.product-name {
    font-size: 16px;
    color: #8b4513;
    margin: 10px 0 5px;
}

.product-price {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}


.add-to-cart {
    padding: 8px 16px;
    background-color: #8b4513;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #a0522d;
}

.banner-text{
    display: flex;
    justify-content: center;
}

    .h3{
        display: flex;
        justify-content: center;
    }




